name: pull-request
on: 
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'docs/**'

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup pages
        uses: actions/configure-pages@v5
      - name: Lint OpenAPI file
        run: npx @redocly/cli@latest lint --extends minimal docs/openapi-sample.yaml
      - name: Build static files
        id: build
        run: |
          npx @redocly/cli@latest build-docs docs/openapi-sample.yaml -o .output/index.html
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: .output

  deploy:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}/pr-${{ github.event.number }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
